html, body {
    margin: 0;
    height: 100%;
 }
  
#c { 
    height: 100%;
    width: 100%;
    display: block;
}

h1 {
    position: absolute;
    top: 2em;
    left: 2em;
    font-family: 'Montserrat';
    font-size: 7em;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    border: 5px solid black;
    padding: .2em;
  }

  #info {
    background-color: #8a8a8a;
    background-color: rgba(128, 128, 128, 0.5);
    position: absolute;
    left: 10px;
	top: 10px;
    width: fit-content;
    height: auto;
    max-height: 90%;
    transition: height 1s, width 1s;
    text-align: left;
    font-size: 2em;
	z-index: 100;
    display:block;
    border:1px solid black;
    padding: 10px;
    overflow-y: auto;
}

#infop {
    height: 90%
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  kbd {
    background-color: #ddd;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
   }

   /* scrollbar
::-webkit-scrollbar-track {
    color: rgba(0.2, 0.2, 0.2, 0);
  }
::-webkit-scrollbar-button {
    background: rgba(208, 142, 142, 1);
  } */